@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Montserrat&family=Nunito&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*fonts: font-family: 'Belanosima', sans-serif;*/

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  font-family: 'Belanosima', sans-serif;
}

header {
  background-color: #121212;
  padding: 18px;
  text-align: center;
}

#searchBar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#filmography {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.film-details-container {
  max-width: 800px;
  display: flex;
  margin: auto;
  margin-top: 12px;
}

.film-details-container p {
  padding: 4px;
}

.film-details-container img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 6px;
}

#filmDetails {
  color: #FFFFFF;
  margin-bottom: 16px;
}

.film-thumbnail {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.film-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.film-thumbnail .film-info {
  padding: 10px;
}

.film-thumbnail .film-title {
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
  padding-bottom: 6px;
}

.film-thumbnail .film-date {
  font-size: 14px;
  color: #777;
}

.film-thumbnail .film-runtime {
  font-size: 14px;
  color: #777;
}

.film-thumbnail:hover {
  background: #000000;
  box-shadow: 0 0 40px #FFFFFF;
}
